<!DOCTYPE html>

    <html lang="pt-br">
        
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> Home - Mãe </title>

        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/home_mother.css">
        <link rel="stylesheet" href="styles/nav.css">
        
        <link href="css/all.css" rel="stylesheet">
        
        
    </head>

    <body>
    
        <header> 
            
            <i class="fas fa-bars"></i>
            <img src="images/logo_2.png" alt="Logo">

        </header>
        
        <div class="container homeMother">

            <div>
            
                <h3> Trilhas </h3>

                <div class="link-trilha"> 
                     
                    <div> <a href=""> Guia </a> </div>

                    <div> <a href=""> Educação financeira </a> </div>

                    <div> <a href=""> Empreendedorismo </a> </div>
                        
                </div>

            </div>

            <div class="list-mentor">
                
                <div class="title-lista">

                    <h3> Mentores </h3>

                    <a href="/mentors"> Ver mais </a>

                </div>
            
                <ul>
                    
                    <li onclick="agendamento();" >
                        
                        <div>
                            
                            <img class="img-profile" src="images/people/1.png" alt="Andreia Rocha"/>
                            
                        </div>

                        <div class="info">

                            <h4> Andréia Rocha </h4>
                            
                            <div class="status">
                                
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                
                            </div>

                            <div class="areas">
                                
                                <span> Moda e beleza </span> 
                                
                            </div>
                            
                        </div>
                
                    </li>
                    
                    <li onclick="agendamento();" >
                        
                        <div>
                            
                            <img class="img-profile" src="images/people/2.jpg" alt="Márcia Pereira"/>
                            
                        </div>

                        <div class="info">

                            <h4> Márcia Pereira </h4>
                            
                            <div class="status">
                                
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                           
                            </div>

                            <div class="areas">
                                
                                <span> Assistente de saúde </span>
                                
                            </div>
                            
                        </div>
                
                    </li>
                    
                    <li onclick="agendamento();" >
                        
                        <div>
                            
                            <img class="img-profile" src="images/people/3.jpg" alt="Cristina Souza"/>
                    
                        </div>

                        <div class="info">

                            <h4> Cristina Souza </h4>
                            
                            <div class="status">
                                
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                <img src="images/estrela_rosa.png" alt="Stars" />
                                
                            </div>

                            <div class="areas">
                                
                                <span> Pequenos negócios </span> 
                                
                            </div>
                            
                        </div>
            
                    </li> 
                    
                </ul> 
                
            </div>

        </div>

        <nav> 
            
            <div class="nav">

                <div class="nav-item"> 
                    <a href="/trail"> 
                        <i class="fas fa-brain"></i> 
                        <span>Trilha</span>
                    </a> 
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-tasks"></i>
                        <span>Pedidos</span>
                    </a>
                </div>

                <div class="nav-item on"> 
                    <a href="/home-mother"> 
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/mentors">
                        <i class="fas fa-comments"></i>
                        <span> Mentor </span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </div>

            </div>
        
        </nav>
        
    </body>
        
</html>

<script src="js/agendamento.js"></script>