<!DOCTYPE html>

    <html lang="pt-br">
        
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> Home - Mãe </title>

        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/home-mother.css">
        
    </head>

    <body>

        <header> 
            
            <img src="" alt="Logo">

        </header>
        
        <section>

            <div>
            
                <h3> Trilhas </h3>

                <div> 
            
                    <a href=""> Guia </a>

                    <a href=""> Educação financeira </a>                 
                    
                    <a href=""> Empreendedorismo </a>

                </div>

            </div>

            <div>
                
                <div>

                    <h3> Mentores </h3>

                    <a href=""> Ver mais </a>

                </div>
            
                <div> 

                    <img src="" alt="Andreia Rocha"/>

                    <div>

                        <h4> Andréia Rocha </h4>
                        
                        <img src="" alt="Stars" />

                        <span> Moda e beleza </span> 
                  
                    </div>

                </div>    

            </div>

        </section>

        <nav> 
            
            <ul>

                <li> <a href=""> Trilha </a> </li>

                <li> <a href=""> Pedidos </a> </li>

                <li> <a href=""> Home </a> </li>

                <li> <a href=""> Mentor </a> </li>

                <li> <a href=""> Perfil </a> </li>

            </ul>
        
        </nav>
        
    </body>

</html>