<!DOCTYPE html>

<html lang="pt-br">

    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> Perfil - Mãe </title>
        
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/nav.css">
        <link rel="stylesheet" href="styles/profile.css">
        
        <link href="css/all.css" rel="stylesheet">
        
    </head>

    <body>
        
        <header> 
            
            <i class="fas fa-bars"></i>
            <img src="images/logo_2.png" alt="Logo">

        </header>
        
        <div class="container perfil">
            
            <a href="#">
                <i class="fas fa-chevron-left" ></i>
            </a>

            <div class="info">

                <div class="foto">
                    <img src="images/people/6.jpg" alt="Kátia Fonseca">
                </div>
                <h1>
                    Maria Eduarda
                </h1>

                <p> Mãe e dona do meu negócio! Faço unhas nas mais diversas ténicas, desde acrigel a unhas postiças! </p>

                <strong> Campo Grande - RJ </strong>

                <div class="areas">

                    <span> Moda e Beleza </span>

                    <span> Manicure </span>

                </div>

                <div class="status">

                    <div>

                        <h1> 5.0 </h1>

                        <div>
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                        </div>

                    </div>

                    <div> 

                        <i class="fas fa-brain"></i> 

                        <h4> SUPER TALENTO </h4>

                    </div>

                </div>

            </div>

            <div class="title-lista">

                <h3> Serviços </h3>

                <a href="#"> Ver mais </a>

            </div>
            <div class="servicos">

                <ul>

                    <li>

                        <div>

                            <h4> Unhas stiletto </h4>

                            <span> R$ 50,00 </span>

                        </div>

                        <img src="images/services/nails-stiletto.png" alt="Unha stiletto">

                    </li>

                    <li>

                        <div>

                            <h4> Pé e mão </h4>

                            <span> R$ 30,00 </span>

                        </div>

                        <img src="images/services/foot-hand.png" alt="Pé e mão">

                    </li>
                    
                    <li>

                        <div>

                            <h4> Unhas acrigel </h4>

                            <span> R$ 90,00 </span>

                        </div>

                        <img src="images/services/nails-acrigel.png" alt="Unha acrigel">

                    </li>

                </ul>
            

            </div>

            <div class="title-lista">

                <h3> Galeria </h3>

                <a href="#"> Ver mais </a>

            </div>
            <div class="galeria">


                <div>

                    <img src="images/services/1_nails.png" alt="Unhas">
                    <img src="images/services/2_nails.png" alt="Unhas">
                    <img src="images/services/3_nails.png" alt="Unhas">

                </div>

            </div>

            <div class="title-lista">

                <h3> Comentários </h3>

                <a href="#"> Ver mais </a>

            </div>
            
            <section>


                <div>

                    <img src="images/people/7.jpg" alt="Helena de Souza">

                    <div>

                        <h5> Helena de Souza </h5>

                        <p> Amei o trabalho! Minhas unhas estão um espetáculo! De agora em diante vou fazer só com você, Maria. </p>

                        <div>

                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />
                            <img src="images/estrela_rosa.png" alt="Stars" />

                            <span> 12/01/21 </span>

                        </div>

                    </div>

                </div>

            </section>
        </div>
        
        <nav> 
            
            <div class="nav">

                <div class="nav-item"> 
                    <a href="/trail"> 
                        <i class="fas fa-brain"></i> 
                        <span>Trilha</span>
                    </a> 
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-tasks"></i>
                        <span>Pedidos</span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/home-mother"> 
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/mentors">
                        <i class="fas fa-comments"></i>
                        <span> Mentor </span>
                    </a>
                </div>

                <div class="nav-item on"> 
                    <a href="/profile"> 
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </div>

            </div>
        
        </nav>

    </body>

</html>