=<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        
        <link rel="icon" type="imagem/png" href="imagens/logo.png" size="10x16" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> Agendamento de Mentores </title>

        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/nav.css">
        <link rel="stylesheet" href="styles/scheduling_mentoring.css">
        <link href="styles/all.css" rel="stylesheet">

    </head>

    <body>
        
        <header> 
            
            <i class="fas fa-bars"></i>
            <img src="images/logo_2.png" alt="Logo">

        </header>
        
        <div class="container agendamento">
            
            <a href="/mentors">
                <i class="fas fa-chevron-left" ></i>
            </a>
            
            <h2>

                Agendamento com Andréia

            </h2>

            <div>

                <h3>

                    Horários disponíveis

                </h3>   

                <ul>

                    <li> <p> Sáb. 16/01 às 10h </p> </li>
                    <li> <p> Sáb. 16/01 às 10h </p> </li>
                    <li> <p> Sáb. 16/01 às 10h </p> </li>
                    <li> <p> Sáb. 16/01 às 10h </p> </li>
                    <li> <p> Sáb. 16/01 às 10h </p> </li>

                </ul>
                
                <div class="botao-confirmar">
                    <a href=""> Confirmar </a>
                </div>

            </div>
            
        </div>
        
        <nav> 
            
            <div class="nav">

                <div class="nav-item"> 
                    <a href="/trail"> 
                        <i class="fas fa-brain"></i> 
                        <span>Trilha</span>
                    </a> 
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-tasks"></i>
                        <span>Pedidos</span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/home-mother"> 
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>

                <div class="nav-item on"> 
                    <a href="/mentors">
                        <i class="fas fa-comments"></i>
                        <span> Mentor </span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </div>

            </div>
        
        </nav>

    </body>

</html>