<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> Agendamento </title>

        <link rel="stylesheet" href="styles/styles.css">

    </head>

    <body>
        
        <header> 
            
            <img src="/src/public/images/logo.png" alt="Logo">

        </header>
        
        <h2>
                
            Agendamento com Andréia
            
        </h2>

        <div>
            
            <h3>
                
                Horários disponíveis
                
            </h3>   
            
            <ul>
                
                <li> 
                    
                    <p> Sáb. 16/01 às 10h </p> 
                    <p> Sáb. 16/01 às 10h </p> 
                    <p> Sáb. 16/01 às 10h </p> 
                    <p> Sáb. 16/01 às 10h </p> 
                    <p> Sáb. 16/01 às 10h </p> 
                    <p> Sáb. 16/01 às 10h </p>
                    
                    <a href=""> Confirmar </a>
                
                </li>
                
            </ul>
            
        </div>
        
        <nav> 

            <ul>

                <li> <a href=""> Trilha </a> </li>

                <li> <a href=""> Pedidos </a> </li>

                <li> <a href=""> Home </a> </li>

                <li> <a href=""> Mentor </a> </li>

                <li> <a href=""> Perfil </a> </li>

            </ul>
        
        </nav>
        
    </body>

</html>