<!DOCTYPE html>

    <html lang="pt-br">
        
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> Trilha de desenvolvimento </title>
        
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/nav.css">
        <link rel="stylesheet" href="styles/trail.css">
        
        <link href="css/all.css" rel="stylesheet">

    </head>

    <body>
        
        <header> 
            
            <i class="fas fa-bars"></i>
            <img src="images/logo_2.png" alt="Logo">

        </header>
        
        <div class="container trilha">
            
            <h2> Trilhas </h2>

            <div class="top">

                <div>
                    <h4> TALENTO SÊNIOR </h4>
                </div>
                
                <p class="progresso"></p>

                <div>
                    <h4> SUPER TALENTO </h4>
                </div>
            </div>

            <ul>
                
                <li class="tutorial background">

                    <div>
                        <h2> Tutorial </h2>
                    </div>
                    
                    <div class="icons">
                        
                        <div>

                            <i class="fas fa-video"></i>  
                            <div> 0/1 </div>

                        </div>

                    </div>
                </li>

                <li class="saude background">

                    <div>
                        <h2> Saúde mental </h2>
                    </div>
                    
                    <div class="icons">

                        <div>

                            <i class="fas fa-video"></i>
                            <div> 2/5 </div>

                        </div>

                        <div>

                            <i class="fas fa-book"></i>
                            <div> 0/1 </div>

                        </div>

                        <div>

                            <i class="fas fa-graduation-cap"></i>
                            <div> 2/3 </div>

                        </div>
                    
                    </div>

                </li>

                <li class="empreendedorismo background">

                    <div>
                        <h2> Empreendedorismo </h2>
                    </div>

                    <div class="icons">
                    
                        <div>

                            <i class="fas fa-video"></i>
                            <div> 5/5 </div>

                        </div>

                        <div>

                            <i class="fas fa-book"></i>
                            <div> 1/1 </div>

                        </div>

                        <div>

                            <i class="fas fa-graduation-cap"></i>
                            <div> 1/1 </div>

                        </div>
                    
                    </div>

                </li>

                <li class="financeira background">

                    <div>
                        <h2> Educação financeira </h2>
                    </div>
                    
                    <div class="icons">

                        <div>

                            <i class="fas fa-video"></i>
                            <div> 2/5 </div>

                        </div>

                        <div>

                            <i class="fas fa-book"></i>
                            <div> 1/1 </div>

                        </div>
                        
                    </div>

                </li>

                <li class="idiomas background">

                    <div>
                        <h2> Idiomas </h2>
                    </div>

                    <div class="icons">
                    
                        <div>

                            <i class="fas fa-video"></i>
                            <div> 5/10 </div>

                        </div>

                        <div>

                            <i class="fas fa-book"></i>
                            <div> 2/3 </div>

                        </div>
                        
                    </div>

                </li>

                <li class="office background">

                    <div>
                        <h2> Pacote office </h2>
                    </div>

                    <div class="icons">
                    
                        <div>

                            <i class="fas fa-video"></i>
                            <div> 4/5 </div>

                        </div>

                        <div>

                            <i class="fas fa-book"></i>
                            <div> 1/1 </div>

                        </div>

                        <div>

                            <i class="fas fa-graduation-cap"></i>
                            <div> 0/2 </div>

                        </div>
                        
                    </div>

                </li>
            </ul>
                
        
        </div>
        
        <nav> 
            
            <div class="nav">

                <div class="nav-item on"> 
                    <a href="/trail"> 
                        <i class="fas fa-brain"></i> 
                        <span>Trilha</span>
                    </a> 
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-tasks"></i>
                        <span>Pedidos</span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/home-mother"> 
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/mentors">
                        <i class="fas fa-comments"></i>
                        <span> Mentor </span>
                    </a>
                </div>

                <div class="nav-item"> 
                    <a href="/profile"> 
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </div>

            </div>
        
        </nav>

    </body>

</html>