<!DOCTYPE html>

<html lang="pt-br">
        
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> Login </title>

        <link rel="stylesheet" href="styles/styles.css">
        
        <link rel="stylesheet" href="styles/login.css">
        
    </head>

    <body class="" >

        <div class="login">
            
            <div class="top">

                <img src="images/logo.png" alt="Logo">

                <h3> Mais oportunidade de trabalho para mães </h3>

            </div>

            <div class="footer">

                <h2> Acessar como </h2>

                <div>
                    
                    <div class="botao" ><a href="home-mother"> Mãe </a></div>

                    <div class="botao" ><a href=""> Cliente </a></div>

                    <div class="botao" ><a href=""> Mentor </a></div>

                </div>

                <p> Não tem conta? <a href=""><strong>Cadastre-se</strong></a> </p>

            </div>
            
        </div>
                
    </body>

</html>