.homeMother {
    
    background: var(--grey_1);
    
}

.link-trilha {
    
    display: flex;
    flex-wrap: wrap;
    
}

.link-trilha > div {
    
    padding: 0px 20px;
    margin: 0px 10px 10px 0px;
    width: fit-content;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.link-trilha > div a {
    
    color: var(--grey_dark);
    text-decoration: none;
    font-size: 20px;
    
}

.row-areas div {
    
    display: flex;
    flex-direction: row;
    
    padding-right: 15px;
        
}

.title-mentor > a {
    
    color: var(--pink_1);
    text-decoration: none;
    
}

.title-mentor > * {
    
    margin: 0px ;
    padding: 0px ;
    
}

.title-mentor {
    
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    
}

.areas {
    
    padding: 0 10px;
    background: var(--grey_1);
    width: fit-content;
    border-radius: 20px;
    height: 22px;
    align-items: center;
    
}

.status {
    
    width: fit-content;
    
}

.status img {
    
    margin-right: 8px;
    
}

.img-profile {
    
    border-radius: 50%;
    
}
