:root {
    
    --white: #ffffff;
    --grey_0: #E8E8EC;
    --grey_1: #F0F0F0;
    --grey_2: #A1A2B2;
    --grey_dark: #393B4C;
    --pink_1: #ED3D6D;
    --pink_2: #F993B9;
    --purple_1: #3B2C6B;
    --purple_2: #9182D1; 
    
}

h1,h2,h3,h4,h5 ,p{
    
    color: var(--grey_dark);
    
}

html{
    background-color:var(--grey_0);
}

span {
    
    font-size: 12px;
}

body {
    
    margin: 0px;
    font-family: 'helvetica';
    position: relative;
    min-height: 100vw;
    
}

header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100vw;
    height: 75px;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    
}

header img {
    
    margin: auto;
}

header i {
    
    position: absolute;
    left: 23px;
   
}

.container {
    
    max-width: 1024px;
    height: 75vh;
    overflow: hidden;
    overflow-y: initial;
    padding: 20px;
    margin: auto;
    background: var(--grey_0);
    
}

p {
    
    margin: 0px ;
    
}

ul,
ol {
    
    list-style-type: none ;
    padding: 0px; 
    
}

ul li {
    
    display: flex;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px ;
    align-items: center;
    margin-bottom: 10px;
    
}

li > div {
    
    height: fit-content;
    display:flex;
    justify-content: space-between;
    
}

li .info div {
    
    display:flex;
    justify-content: space-between;
    
}

li .info {
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    height: 70px !important;
    width: 100%;
    
}

.info > * {
    
    margin: auto 0px;
    
}

.info span {
    
    font-size: 12px;
    
}

.areas {
    
    padding: 0 10px;
    background: var(--grey_0);
    width: fit-content;
    border-radius: 20px;
    height: 22px;
    align-items: center;
    
}


.status {
    
    width: fit-content;
    
}

.status img {
    
    margin-right: 8px;
    
}

.img-profile {
    
    border-radius: 50%;
    
}

.botao-confirmar{
    width: 255px;
    height: 51px;
    background: var(--pink_1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.botao-confirmar a{
    text-decoration: none;
    color: var(--white);
}


.title-lista > a {
    
    color: var(--pink_1);
    text-decoration: none;
    
}

.title-lista > * {
    
    margin: 0px ;
    padding: 0px ;
    
}

.title-lista {
    
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    
}
