:root {
    --grey_4: #393B4C;
}

h1,h2,h3,h4,h5{
    color: var(--grey_4);
}

body{
    margin: 0px;
    font-family: 'helvetica';
    height: -webkit-fill-available;
    position: relative;
    height: auto;
}

.container{
    max-width: 1024px;
    height: min-content;
    padding: 10px;
    margin: auto;
}

p{
    margin: 0px !important ;
}

ul,
ol{
    list-style-type: none !important;
    padding: 0px;
}